{{> head }}
{{> navbar }}
<div class="row">
    <div class="col-8">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officia eligendi, ipsa culpa ad pariatur voluptatem excepturi accusamus dolores voluptatibus. Voluptatibus eligendi enim dolor officiis debitis fugiat harum modi aliquam atque?</p>
    </div>
    <div class="col-4">
        <img src="assets/img/image_1.jpg" class="img-thumbnail" alt="img">
    </div>
</div>
{{> footer}}